In [1]:
import pandas as pd

### Citi Bike Trip Histories

In [2]:
data_2018_1 = pd.read_csv("Resources/JC-201801-citibike-tripdata.csv")
data_2018_2 = pd.read_csv("Resources/JC-201802-citibike-tripdata.csv")
data_2018_3 = pd.read_csv("Resources/JC-201803-citibike-tripdata.csv")
data_2018_4 = pd.read_csv("Resources/JC-201804-citibike-tripdata.csv")
data_2018_5 = pd.read_csv("Resources/JC-201805-citibike-tripdata.csv")
data_2018_6 = pd.read_csv("Resources/JC-201806-citibike-tripdata.csv")
data_2018_7 = pd.read_csv("Resources/JC-201807-citibike-tripdata.csv")
data_2018_8 = pd.read_csv("Resources/JC-201808-citibike-tripdata.csv")
data_2018_9 = pd.read_csv("Resources/JC-201809-citibike-tripdata.csv")
data_2018_10 = pd.read_csv("Resources/JC-201810-citibike-tripdata.csv")
data_2018_11 = pd.read_csv("Resources/JC-201811-citibike-tripdata.csv")
data_2018_12 = pd.read_csv("Resources/JC-201812-citibike-tripdata.csv")

In [14]:
data_2018_1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [3]:
data_2018_1.count()

tripduration               12677
starttime                  12677
stoptime                   12677
start station id           12677
start station name         12677
start station latitude     12677
start station longitude    12677
end station id             12677
end station name           12677
end station latitude       12677
end station longitude      12677
bikeid                     12677
usertype                   12677
birth year                 12677
gender                     12677
dtype: int64

In [4]:
data_2018_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12677 entries, 0 to 12676
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tripduration             12677 non-null  int64
 1   starttime                12677 non-null  object
 2   stoptime                 12677 non-null  object
 3   start station id         12677 non-null  int64
 4   start station name       12677 non-null  object
 5   start station latitude   12677 non-null  float64
 6   start station longitude  12677 non-null  float64
 7   end station id           12677 non-null  int64
 8   end station name         12677 non-null  object
 9   end station latitude     12677 non-null  float64
 10  end station longitude    12677 non-null  float64
 11  bikeid                   12677 non-null  int64
 12  usertype                 12677 non-null  object
 13  birth year               12677 non-null  int64
 14  gender                   12677 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 1.5+ MB

In [28]:
final_df_td_2018 = pd.concat([data_2018_1,data_2018_2,data_2018_3,data_2018_4,data_2018_5,data_2018_6, data_2018_7, data_2018_8, data_2018_9, data_2018_10, data_2018_11, data_2018_12 ])

In [29]:
final_df_td_2018.shape

(353892, 15)

In [7]:
final_df_td.to_csv("trip_histories.csv")

In [ ]:
data_2017_1 = pd.read_csv("../JC-201701-citibike-tripdata.csv")
data_2017_2 = pd.read_csv("../JC-201702-citibike-tripdata.csv")
data_2017_3 = pd.read_csv("../JC-201703-citibike-tripdata.csv")
data_2017_4 = pd.read_csv("../JC-201704-citibike-tripdata.csv")
data_2017_5 = pd.read_csv("../JC-201705-citibike-tripdata.csv")
data_2017_6 = pd.read_csv("../JC-201706-citibike-tripdata.csv")
data_2017_7 = pd.read_csv("../JC-201707-citibike-tripdata.csv")
data_2017_8 = pd.read_csv("../JC-201708 citibike-tripdata.csv")
data_2017_9 = pd.read_csv("../JC-201709-citibike-tripdata.csv")
data_2017_10 = pd.read_csv("../JC-201710-citibike-tripdata.csv")
data_2017_11 = pd.read_csv("../JC-201711-citibike-tripdata.csv")
data_2017_12 = pd.read_csv("../JC-201712-citibike-tripdata.csv")

In [41]:
data_2017_3.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [5]:
final_df_td_2017 = pd.concat([data_2017_1,data_2017_2,data_2017_3,data_2017_4,data_2017_5,data_2017_6, data_2017_7, data_2017_8, data_2017_9, data_2017_10, data_2017_11, data_2017_12 ])

In [24]:
final_df_td_2017.shape

(294928, 30)

In [31]:
final_df_td_2018.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [37]:
final_df_td_2017.columns = map(str.lower, final_df_td_2017.columns)

In [39]:
final_df_td_2017.columns

Index(['trip duration', 'start time', 'stop time', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bike id', 'user type',
       'birth year', 'gender', 'tripduration', 'starttime', 'stoptime',
       'start station id', 'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [34]:
merged_df = pd.concat([final_df_td_2017, final_df_td_2018])

In [36]:
merged_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148.0,2017-01-01 00:21:32,2017-01-01 00:24:01,3276.0,Marin Light Rail,40.714584,-74.042817,3185.0,City Hall,40.717733,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283.0,2017-01-01 00:24:35,2017-01-01 00:45:58,3183.0,Exchange Place,40.716247,-74.033459,3198.0,Heights Elevator,40.748716,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,372.0,2017-01-01 00:38:19,2017-01-01 00:44:31,3183.0,Exchange Place,40.716247,-74.033459,3211.0,Newark Ave,40.721525,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1513.0,2017-01-01 00:38:37,2017-01-01 01:03:50,3194.0,McGinley Square,40.725340,-74.067622,3271.0,Danforth Light Rail,40.692640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,639.0,2017-01-01 01:47:52,2017-01-01 01:58:31,3183.0,Exchange Place,40.716247,-74.033459,3203.0,Hamilton Park,40.727596,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Daily Ridership and Membership Data

In [8]:
membership_data1 = pd.read_csv("Resources/data-7OLX8.csv")
membership_data2 = pd.read_csv("Resources/data-tqNn6.csv")
membership_data3 = pd.read_csv("Resources/data-FKjZg.csv")
membership_data4 = pd.read_csv("Resources/data-pRAtm.csv")

In [10]:
membership_data1.shape

(90, 6)

In [11]:
membership_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                90 non-null     object
 1   Trips over the past 24-hours (midnight to 11:59pm)  90 non-null     int64
 2   Miles traveled today (midnight to 11:59 pm)         90 non-null     int64
 3   Total Annual Members (All Time)                     90 non-null     int64
 4   24-Hour Passes Purchased (midnight to 11:59 pm)     90 non-null     int64
 5   3-Day Passes Purchased (midnight to 11:59 pm)       90 non-null     int64
dtypes: int64(5), object(1)
memory usage: 4.3+ KB

In [12]:
final_membership_df = pd.concat([membership_data1, membership_data2, membership_data3, membership_data4])

In [16]:
final_membership_df

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2018,5499,11483,253490,123,7
1,1/2/2018,18818,39352,253558,125,12
2,1/3/2018,24299,42853,253591,164,4
3,1/4/2018,1922,5328,253604,2,1
4,1/5/2018,4972,14303,253614,14,0
...,...,...,...,...,...,...
87,12/27/18,31169,48943,297527,1510,51
88,12/28/18,12039,17576,297555,334,25
89,12/29/18,29037,54116,297622,2677,104
90,12/30/18,22536,37741,297682,1562,51
91,12/31/18,18936,29794,297748,962,31

In [13]:
final_membership_df.to_csv("membership_data.csv")